@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=Quicksand:wght@300..700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playpen+Sans:wght@100..800&family=Quicksand:wght@300..700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playpen+Sans:wght@100..800&family=Quicksand:wght@300..700&family=Smooch+Sans:wght@100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Oswald:wght@200..700&family=Playpen+Sans:wght@100..800&family=Quicksand:wght@300..700&family=Smooch+Sans:wght@100..900&display=swap');


:root
{
    --font-1: "Quicksand", sans-serif;
    --font-2:"Oswald", sans-serif;
    --font-3: "Smooch Sans", sans-serif;
    --font-4: "EB Garamond", serif;

}
*{
    padding: 0;
    margin: 0
    ;
    background-attachment: fixed;
}
html,body{
    min-height: 100vh;
    background-color: aliceblue;
}
header{
    background-color: black;
    color:white ;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    box-shadow: -1px 2px 1px -1px rgba(0, 0, 0, 0.116);
    


}
header,h1{
 
    padding-top: 50px;
    text-transform: uppercase;
    font-family: var(--font-1);
    font-size: 1.7em;

}
header,p{
    padding-bottom: 50px;}
section p{
    font-family: var(--font-4);
    padding: 20px;
    font-size: 1.9em;
    max-width: 2000px;
    min-width: 400px;
    text-transform: capitalize;
    margin: 10PX;
}
a{
   text-decoration: none;
    color: rgb(233, 236, 234);
    font-weight: bolder;
    font-family: var(--font-3);
    font-size: 1.2em;
    text-transform:capitalize;
    
   
}
a:hover{
    text-decoration: underline;
    
   color: rgba(120, 153, 0, 0.349);

}
section.normal{
    
}
section.imagens
{
      background-color: rgb(0, 0, 0);
      background-image: url(imagens/background001.jpg) ;
      background-position: 90%;
      background-size: cover;
      max-width: 2000px;
      min-width: 400px;
      background-position-x: right ;
       box-shadow: -1px 2px 8px -3px black;
       font-family: var(--font-4);
 

}
section.imagens2{
      background-color: rgba(0, 0, 0, 0.589);
      background-image: url(imagens/background002.jpg);
      background-position: 50%;
       max-width: 2000px;
      min-width: 400px;
      font-family: var(--font-4);
      box-shadow: -1px 2px 8px -3px black;
}
section.imagens>p{
    background-color: rgba(0, 0, 0, 0.582);
    color: white;
    
  
}
section.imagens2>p{
    background-color: rgba(0, 0, 0, 0.589);
    color: white;
    
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    
  
}
footer{
    padding: 10px;
    text-align: center;
    margin: auto;
    color: aliceblue;

 
    background-color: rgba(0, 0, 0, 0.445);
}
a#footer{
    color: aliceblue;
    text-decoration:none;

}
