@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


:root{
    --cor1:#7ABF7F;
    --cor2:#2C6B38;
    --cor3:#2C6B38;
    --cor4:#268C35;
    --cor5:#82F27E;
    --cor6:#228844;
    --cor7:#f4e3ad76;



    --font-1: "Playwrite HU", cursive;
    --font-2:"Momo Signature", cursive;
    --font-3: "Kanit", sans-serif; 
    --font-4:"Quicksand", sans-serif;
   
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor7);
}
header{
    background-image: linear-gradient(to bottom,var(--cor6),var(--cor2));
    color: #ffffff;
    padding-top: 30px;
    margin: auto;
    text-align: center;
     box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0);
    
    
}

header h1{
    color: rgb(255, 255, 255);
    font-family: var(--font-4);
   
    font-size: 50px;
    margin-bottom: 10px;
    padding:7px;
    
    
}
header p{
    font-family: var(--font-4);
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.1em;
    margin: auto;
    font-weight: bold;
}
nav{
    background-color: var(--cor2);
    padding: 15px;
    box-shadow: 0px 2px 2px black;
    
}
nav>a{
    

    color: white;
    text-decoration: none;
    padding: 10px;

    font-weight: bold;
    
    

    
}
nav>a:hover{
    background-color: var(--cor4);
    color: var(--cor1);
    text-decoration: underline;
    padding: 10px;
    border-radius: 7px;

   
    
    

}
main{
    background-color: white;
    margin: auto;

    padding-left: 10px;
    max-width: 900px;

    min-width: 400px;

}
img#bug{
display: block;
margin: auto;
width:400px;


    

}
h1#principal{
    font-family: var(--font-2);
    font-size:29px;
    padding: 15px;
    margin: auto;
     
    line-height: 40px;
     text-indent: -2px;
   
    border-radius: 3px 6px 0px 14px;
    

      
}
main p{
    line-height: 37px ;
    text-indent:19px;
   text-align: center;
   font-family: var(--font-4);
   font-weight: bolder;
   margin: auto;
   padding: 16px;
   
    
   
}

main h2{
    background-image:linear-gradient(to left,transparent,var(--cor1));
     line-height: 37px ;
    text-indent:19px;
   font-family:var(--font-3);
   font-weight: bolder;
   margin: auto;
}
main h3{
line-height: 37px ;
    text-indent:19px;
   font-family:var(--font-4);
   font-weight: bolder;
   margin: auto;
}

aside>p#p2{
     line-height: 25px ;
    text-indent:-3px;
  
   font-family: var(--font-4);
   font-weight: bolder;
   margin: auto;
   padding: 16px;


  
}
aside{
   background-color: var(--cor1);
   padding: 10px;
   border-radius: 10px;
}
aside>p{
     line-height: 25px ;
    text-indent:-3px;
 
   font-family: var(--font-4);
   font-weight: bolder;
   margin: auto;
   padding: 16px;
}

aside>h3{
  background-color: var(--cor2);
  margin: -10px -10px 0px -10px;
    padding: 5px;
    color: white;
    

   
   font-family:var(--font-3);
   
   
  
   font-size:35px;

}
aside>ul{
    
    
    border-radius: 8px 8px 8px 0px ;
   list-style-type: '\2714\00a0\00a0';
   list-style-position: inside;
   columns: 2;
   margin: auto;
    padding: 10px;
    font-weight: bold;
    

}
aside>li{
    color: black;

color: white;
text-indent: 10px;
line-height: 33px;
margin: auto;

}
footer{
    background-color: white;
    max-width: 900px;
    min-width: 400px;
   margin: auto;
}
footer p{
    
   font-family: var(--font-4);
   font-weight: bolder;
   margin: auto;
   padding: 16px;
   max-width: 900px;
    min-width: 400px;

   
}
footer h3{
    
    background-color: var(--cor1);
     font-family: var(--font-3);
   
   margin: auto;
   padding: 16px;
   text-align: center;

}
footer a{
    text-decoration: none;
   
    color: black;

}
iframe {
    margin: auto;
    
  
    display: block;
width:400px;

}
